<html>
	<head>
		<title>GhostCcamm's Cyber Misadventures</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">GhostCcamm's Cyber Misadventures</a></h1>
					<nav>
						<a href="#menu">Menu</a>
					</nav>
				</header>

			<!-- Menu -->
				<nav id="menu">
					<div class="inner">
						<h2>Menu</h2>
						<ul class="links">
							<li><a href="/">Home</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/writeups">Write Ups</a></li>
						</ul>
						<a href="#" class="close">Close</a>
					</div>
				</nav>

			<!-- Banner -->
		    <section id="banner">
		      <div class="inner">
		        <div class="logo"><div class="image"><img src="/images/logo.png" alt="" width="75" height="75" /></div></div>
		        <h2>How to Create a Website and Inflict Scope Creep On Yourself Using Flask and Azure</h2>
						<p class="date">2020-12-22</p>
		        <p>A recap of how I fell into my own scope creep trap and accidentally created a CMS...</p>
		      </div>
		    </section>

      <section id="wrapper">
 <section class="wrapper spotlight style5">
  <div class="inner">
   <div class="main_image">
    <img alt="" src="/images/blog/creating_site/facepunch.jpg"/>
   </div>
   <div class="content">
    <h1 class="major">
     How Did I Trick Myself in the first place?
    </h1>
    <p>
     All I wanted to do was make a cool looking personal website that I can post my rants and ramblings up to.
    </p>
    <p>
     It started off with a static website, then I wanted password locking on my HackTheBox articles, which eventuated to developing a Content Management System (CMS) that self organises these articles, renders markdown to a sexy template for Flask that has a fancy network animation in the background. All hosted by Azure. Yeah I went down a bit of a slippery slope when adding features for this project.
    </p>
    <p>
     If you are interested you can read below about my descent into web development and madness.
    </p>
   </div>
  </div>
 </section>
 <section class="wrapper style2 alt">
  <div class="inner">
   <div class="content">
    <h2 class="major">
     Why Did I Put Myself Through This Misery?
    </h2>
    <p>
     You are probably reading this and thinking something along the lines of
    </p>
    <p>
     "Why on earth is this monga not just using a pre-existing CMS or an easier framework like Django?'
    </p>
    <p>
     The short and simple answer is that I hate myself and want to suffer...
     <em>
      just kidding.
     </em>
    </p>
    <p>
     The actual answer is that I wanted to learn more about web development and services on Azure. I felt like just using a pre-made CMS takes an aspect of the fun away from creating your own website. I only had a few goals that I wanted to achieve:
    </p>
    <ul>
     <li>
      Have a
      <em>
       dank
      </em>
      website to post my ramblings to.
     </li>
     <li>
      Make it super easy to write articles.
     </li>
     <li>
      Automatically sort articles into blog or write up posts and into categories.
     </li>
     <li>
      Password protect my HackTheBox write ups of machines until they are retired.
     </li>
     <li>
      Super easy deployment of any changes or new articles.
     </li>
    </ul>
    <p>
     Seems pretty simple huh?
    </p>
    <p>
     <strong>
      NOPE!
     </strong>
    </p>
    <p>
     Turns out a tonne of tiny things can go wrong when developing a CMS yourself, causing me to spend several hours of debugging minuscule bugs since I suffer from crippling perfectionism. In the end I was able to make something that I am pretty happy with and looks pretty cool.
    </p>
   </div>
  </div>
 </section>
 <section class="wrapper style3">
  <div class="inner">
   <div class="content">
    <h2 class="major">
     How To Make A Pretty Static Website (The Laziest Way Possible)
    </h2>
    <p>
     Here are the
     <em>
      'simple'
     </em>
     steps that I did to style my fashionable website to how I wanted it to look.
    </p>
    <h4>
     Step 1:
     <s>
      Steal
     </s>
     Use A Template From HTML5 UP
    </h4>
    <p>
     Although I am making a website, I wanted to minimise the amount of work writing HTML documents, CSS style sheets and JavaScript files. Mainly because all three of these languages combined is one of the core reasons why most Web Developers suffer from chronic self loathing.
    </p>
    <p>
     Instead, I decided to stand on top of the misfortunes of other web developers and use a template from the website
     <a href="https://html5up.net/">
      HTML5 UP
     </a>
     . HTML5 UP has a range of seductive HTML5 templates that are licensed under creative commons, meaning that you can use them for free! For this website I chose the
     <a href="https://html5up.net/solid-state">
      Solid State
     </a>
     template that was created by
     <a href="https://twitter.com/ajlkn">
      ajlkn
     </a>
     .
    </p>
    <p>
     <img alt="" class="center" src="/images/blog/creating_site/solid_state.png"/>
    </p>
    <h4>
     Step 2: Customise the Templates to Your Liking Using CSS
    </h4>
    <p>
     To hide the fact that I just took a template from HTML5 UP, I modified the CSS style sheets to change the visual look of the HTML pages. This was not difficult to do since it mainly required changing a few style properties.
    </p>
    <p>
     <strong>
      WARNING!
     </strong>
    </p>
    <p>
     You can easily get carried away at this point by continually fiddling with the settings in your style sheets.
     <em>
      Learn from my mistakes and give up as soon as you are close enough to the look you want
     </em>
     .
    </p>
    <h4>
     (Optional) Step 3: Get a Dope Particle Background On Your Page
    </h4>
    <p>
     Now I really
     <em>
      REALLY
     </em>
     wanted a super cool hacker network particle animation in the background of this website. Only problem is JavaScript is
     <em>
      ewwww
     </em>
     .
    </p>
    <p>
     Fortunately for me there is another solution, and that is to use the Open Source JavaScript library
     <a href="https://github.com/VincentGarreau/particles.js/">
      Particles.Js
     </a>
     by Vincent Garreau. It is extremely simple to add onto any website you are making!
    </p>
    <p>
     First you will need to chuck either the
     <code>
      
  particles.js
 
     </code>
     or
     <code>
      
  particles.min.js
 
     </code>
     file into the folder where you are housing script files and then just add following code at the bottom of your HTML files.
    </p>
    <pre class="codehilite"><code class="language-html">&lt;div id="particles-js"&gt;&lt;/div&gt;

&lt;script src="particles.js"&gt;&lt;/script&gt;
&lt;script&gt;
  particlesJS.load('particles-js', '/assets/particles.json', function() {
    console.log('callback - particles.js config loaded');
  });
&lt;/script&gt;
</code></pre>
    <p>
     The
     <code>
      
  particles.json
 
     </code>
     file is the configuration file that specifies how you want the particles to function. Normally this would take hours of tweaking different parameters, but our lord and saviour, Vincent Garreau,
     <a href="https://vincentgarreau.com/particles.js/">
      has created a page for automatically creating the config file based on your preferences
     </a>
     .
    </p>
    <p>
     Vincent if you ever read this, I have a secret crush on you because you created such a wonderful JavaScript library.
    </p>
    <p>
     <img alt="" class="center" src="/images/blog/creating_site/ilovevincent.png"/>
    </p>
    <p>
     To have the particles in the background like on this site, you need to do some tweaking with your style sheets again (sorry to bring back past trauma). You need to remove the pre-existing background from your style sheet and add the following code below.
    </p>
    <pre class="codehilite"><code class="language-css">#particles-js {
    background-color: #0f0f15;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: -1;
}
</code></pre>
    <p>
     This will keep the particle animation location fixed to the background, but if you don't want that then you can fiddle around with the
     <code>
      
  position
 
     </code>
     attribute.
    </p>
   </div>
  </div>
 </section>
 <section class="wrapper style6 alt">
  <div class="inner">
   <div class="content">
    <h2 class="major">
     Flask Gang For Life
    </h2>
    <p>
     Now we got all of that pesky front end work out of the way, let's get to the juicy part of this project. The web framework I chose was Flask because it is in Python and not PHP. If you want to tell me to use a different web framework, please contact me at idontcare@fakeemail.com.
    </p>
    <p>
     You can use Flask to render HTML templates, using the Jinja templating language. To simply explain what Jinja is, it is a much better version of HTML that can be used to create dynamic web pages. You can also parse variables that can be processed using the template. For an example, the Jinja templates below express the base template of this website and my index page template for showing my latest articles.
    </p>
    <p>
     <em>
      base.html
     </em>
    </p>
    <pre class="codehilite"><code class="language-HTML">&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;GhostCcamm's Cyber Misadventures&lt;/title&gt;
        &lt;meta charset="utf-8" /&gt;
        &lt;meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" /&gt;
        &lt;link rel="stylesheet" href="/assets/css/main.css" /&gt;
        &lt;noscript&gt;&lt;link rel="stylesheet" href="/assets/css/noscript.css" /&gt;&lt;/noscript&gt;
    &lt;/head&gt;
    &lt;body class="is-preload"&gt;

        &lt;!-- Page Wrapper --&gt;
            &lt;div id="page-wrapper"&gt;

            &lt;!-- Header --&gt;
                &lt;header id="header" class="alt"&gt;
                    &lt;h1&gt;&lt;a href="index.html"&gt;GhostCcamm's Cyber Misadventures&lt;/a&gt;&lt;/h1&gt;
                    &lt;nav&gt;
                        &lt;a href="#menu"&gt;Menu&lt;/a&gt;
                    &lt;/nav&gt;
                &lt;/header&gt;

            &lt;!-- Menu --&gt;
                &lt;nav id="menu"&gt;
                    &lt;div class="inner"&gt;
                        &lt;h2&gt;Menu&lt;/h2&gt;
                        &lt;ul class="links"&gt;
                            &lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href="/blog"&gt;Blog&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href="/writeups"&gt;Write Ups&lt;/a&gt;&lt;/li&gt;
                        &lt;/ul&gt;
                        &lt;a href="#" class="close"&gt;Close&lt;/a&gt;
                    &lt;/div&gt;
                &lt;/nav&gt;

            &lt;!-- Banner --&gt;
            &lt;section id="banner"&gt;
              &lt;div class="inner"&gt;
                &lt;div class="logo"&gt;&lt;div class="image"&gt;&lt;img src="/images/logo.png" alt="" width="75" height="75" /&gt;&lt;/div&gt;&lt;/div&gt;
                &lt;h2&gt;{% block page_name %}{% endblock %}&lt;/h2&gt;
                        &lt;p class="date"&gt;{% block release_date %}{% endblock %}&lt;/p&gt;
                &lt;p&gt;{% block desc %}{% endblock %}&lt;/p&gt;
              &lt;/div&gt;
            &lt;/section&gt;

      {% block content %}{% endblock %}
        &lt;/div&gt;

    &lt;!-- Footer --&gt;
      {% include 'footer.html' %}

    &lt;!-- Particles --&gt;
        &lt;div id="particles-js"&gt;&lt;/div&gt;

    &lt;!-- Scripts --&gt;
        &lt;script src="/assets/js/jquery.min.js"&gt;&lt;/script&gt;
        &lt;script src="/assets/js/jquery.scrollex.min.js"&gt;&lt;/script&gt;
        &lt;script src="/assets/js/browser.min.js"&gt;&lt;/script&gt;
        &lt;script src="/assets/js/breakpoints.min.js"&gt;&lt;/script&gt;
        &lt;script src="/assets/js/util.js"&gt;&lt;/script&gt;
        &lt;script src="/assets/js/particles.min.js"&gt;&lt;/script&gt;
        &lt;script src="/assets/js/main.js"&gt;&lt;/script&gt;
      {% block scripts %}{% endblock %}
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
    <p>
     <em>
      index.html
     </em>
    </p>
    <pre class="codehilite"><code class="language-HTML">{% extends 'base.html' %}

{% block page_name %}GhostCcamm's Cyber Misadventures{% endblock %}
{% block desc %}My Blog About Cyber Security and Computer Science Shenanigans{% endblock %}

{% block content %}

  &lt;!-- Wrapper --&gt;
    &lt;section id="wrapper"&gt;
      &lt;!-- One --&gt;
        &lt;section id="one" class="wrapper spotlight style1"&gt;
          &lt;div class="inner"&gt;
            &lt;div class="main_image"&gt;&lt;img src="/images/logo.png" alt="" /&gt;&lt;/div&gt;
            &lt;div class="content"&gt;
              &lt;h2 class="major"&gt;About Me&lt;/h2&gt;
              &lt;p&gt;I am a broke ass Masters of Software Engineering student that has nothing better to do than to complain about guessy CTF challenges and rant about nerdy stuff that only a small demographic actually cares about.&lt;/p&gt;
              &lt;p&gt;If you came here for a good time I cannot make any guarantees, but I will give it shot with my ramblings!&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/section&gt;

      &lt;!-- Two --&gt;
        &lt;section id="two" class="wrapper spotlight alt style2"&gt;
          &lt;div class="inner"&gt;
            {% if latest_writeup["main_image"] is defined %}
              &lt;a class="main_image" href={{ latest_writeup["url_loc"] }}&gt;&lt;img src={{ latest_writeup["main_image"] }} alt="" /&gt;&lt;/a&gt;
            {% endif %}
            &lt;div class="content"&gt;
              &lt;a href={{ latest_writeup["url_loc"] }}&gt;&lt;h2 class="major"&gt;Latest Writup: {{ latest_writeup["page_name"] }}&lt;/h2&gt;&lt;/a&gt;
              &lt;p&gt;{{ latest_writeup["desc"] }}&lt;/p&gt;
              &lt;a href="/writeups" class="special"&gt;Browse Other Writeups&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/section&gt;

      &lt;!-- Three --&gt;
        &lt;section id="three" class="wrapper spotlight style3"&gt;
          &lt;div class="inner"&gt;
            {% if latest_blog["main_image"] is defined %}
              &lt;a class="main_image" href={{ latest_blog["url_loc"] }}&gt;&lt;img src={{ latest_blog["main_image"] }} alt="" /&gt;&lt;/a&gt;
            {% endif %}
            &lt;div class="content"&gt;
              &lt;a href={{ latest_blog["url_loc"] }}&gt;&lt;h2 class="major"&gt;Latest Blog: {{ latest_blog["page_name"] }}&lt;/h2&gt;&lt;/a&gt;
              &lt;p&gt;{{ latest_blog["desc"] }}&lt;/p&gt;
              &lt;a href="/blog" class="special"&gt;Browse Other Articles&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/section&gt;
      &lt;/section&gt;
{% endblock %}
</code></pre>
    <p>
     Pretty neat template right? I can now easily render my index page using the following code.
    </p>
    <pre class="codehilite"><code class="language-python">from flask import Flask, render_template
from blog import blog_blueprint, blog_controller
from writeups import writeups_blueprint, writeups_controller

app = Flask(__name__, static_url_path='')
app.register_blueprint(blog_blueprint)
app.register_blueprint(writeups_blueprint)

@app.route('/')
def index():
    return render_template(
        "index.html",
        latest_writeup=writeups_controller.most_recent_article,
        latest_blog=blog_controller.most_recent_article
    )
</code></pre>
    <p>
     You might of noticed that I import
     <code>
      
  blog_controller
 
     </code>
     and
     <code>
      
  writeups_controller
 
     </code>
     in the above code snippet that I use to grab the latest articles I publish. They are actually instances of a controller class that I developed to dynamically control and organise my articles on this website that I will discuss in the next section.
    </p>
   </div>
  </div>
 </section>
 <section class="wrapper style1">
  <div class="inner">
   <div class="content">
    <h2 class="major">
     Writing Software To Organise My Website Since I Cannot Be Stuffed To Do It Myself
    </h2>
    <p>
     Now I am going to make a confession, I am definitely not the best when it comes to organisation. For an example, my computer desk looks something like the picture below, but with more coffee mugs.
    </p>
    <p>
     <img alt="" class="center" src="/images/blog/creating_site/messydesk.jpeg"/>
    </p>
    <p>
     Unlike in the physical realm, I can write software that will manage all the logistics for future me. For this website I wrote three controller modules:
    </p>
    <ul>
     <li>
      <code>
       
   fileparser.py
  
      </code>
      : The lowest level of control for reading and writing files.
     </li>
     <li>
      <code>
       
   markdownparser.py
  
      </code>
      : Parses my articles that I write in markdown into a sexy Jinja template.
     </li>
     <li>
      <code>
       
   pagecontrol.py
  
      </code>
      : Responsible for access control to pages and sorting articles into categories and release date.
     </li>
    </ul>
    <p>
     The most interesting aspect from a design point of view is how I parse markdown documents to juicy Jinja templates.
    </p>
    <h4>
     Markdown To Beautiful Web Pages
    </h4>
    <p>
     I used the
     <a href="https://python-markdown.github.io/">
      markdown
     </a>
     Python library to parse my articles that I write using markdown notation to HTML. However, this parsing capability by itself can only generate very basic HTML. That is when
     <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">
      BeautifulSoup
     </a>
     comes in to make it extremely easy to modify attributes.
    </p>
    <p>
     To demonstrate how easy it is to use both markdown and BeautifulSoup to automatically style pretty HTML documents from markdown, let us say that we want to parse the following markdown document.
    </p>
    <p>
     <em>
      somestoof.md
     </em>
    </p>
    <pre class="codehilite"><code class="language-md"># Hi There

How are ya going.
</code></pre>
    <p>
     This will be parse to the following HTML.
    </p>
    <p>
     <em>
      somestoof.html
     </em>
    </p>
    <pre class="codehilite"><code class="language-HTML">&lt;h1&gt;Hi There&lt;/h1&gt;
&lt;p&gt;How are ya going.&lt;/p&gt;
</code></pre>
    <p>
     This can be done with the following Python code.
    </p>
    <pre class="codehilite"><code class="language-python">import markdown

with open("somestoof.md", "r") as f:
    md_raw = f.read()

with open("somestoof.html", "w") as f:
    f.write(markdown.markdown(md_raw, extensions=["fenced_code", "codehilite"]))
</code></pre>
    <p>
     <em>
      The
      <code>
       
   extensions
  
      </code>
      arguments are just for properly parsing code snippets into HTML which is not shown in this example.
     </em>
    </p>
    <p>
     Now let's say we have made a cool styling class called 'sick_header' for
     <code>
      
  &lt;h1&gt;
 
     </code>
     tags, we can parse the text of the HTML document to BeautifulSoup to find all of the appropriate tags and add the attributes.
    </p>
    <pre class="codehilite"><code class="language-python">from bs4 import BeautifulSoup
import markdown

def modify_tag_attributes(tag_name, attrs, soup):
  """
  Automatically modifies the attributes for a given type of HTML tag.

  Parameters:
    tag_name: str
      the name of the type of HTML tag to modify

    attrs: dict
      a dictionary mapping the new attribute key value pairs.

    soup: bs4.BeautifulSoup
      the soup that we are cooking ;)
  """

  # Loops through all of the tags with the same tag name given, eg. 'h1'
  for tag in soup.find_all(tag_name):
      for attr_name, attr_value in attrs.items():
          tag[attr_name] = attr_value

with open("somestoof.md", "r") as f:
  md_raw = f.read()

html_raw = markdown.markdown(md_raw, extensions=["fenced_code", "codehilite"])
soup = BeautifulSoup(html_raw, "html.parser")

modify_tag_attributes("h1", {"class" : "sick_header"}, soup)

with open("somestoof.html", "w") as f:
    f.write(soup.prettify())
</code></pre>
    <p>
     Now my
     <code>
      
  markdownparser
 
     </code>
     module is a bit more complex since it parses the markdown to a Jinja template and sorts the parsed HTML to the blocks used in my base template. However, this part of the markdown parsing has been left as an exercise for the reader.
    </p>
    <h4>
     Putting It All Together
    </h4>
    <p>
     Putting together my controllers, parsing files and Flask code I now have a super easy method for writing new articles and let my code do everything else for me. Within my repository I have a folder called
     <code>
      
  markdown_entries
 
     </code>
     , where I can write all of my articles in markdown and on each startup of the website it will check if I have made any updates and if so parses the article to a Jinja template. The folder structure for creating this blog post is shown below.
    </p>
    <pre class="codehilite"><code>markdown_entries/
└── blog
    └── creating_site
        ├── content.md
        ├── images
        │   ├── facepunch.jpg
        │   ├── ilovevincent.png
        │   ├── messydesk.jpeg
        │   └── solid_state.png
        └── prop.yaml
</code></pre>
    <p>
     <code>
      
  prop.yaml
 
     </code>
     is just a YAML configuration file that I use to specify article passwords, page names, description, categories, etc.
    </p>
   </div>
  </div>
 </section>
 <section class="wrapper style4 alt">
  <div class="inner">
   <div class="content">
    <h2 class="major">
     How To Hack This Type Of Website Using Server Side Template Injection
    </h2>
    <p>
     If you are thinking right now that parsing markdown to Jinja templates is a really cool idea and you need to do it with your own web projects,
     <strong>
      BE VERY CAREFUL WITH USER INPUTS
     </strong>
     .
    </p>
    <p>
     It is well documented that Jinja template rendering can be exploited to execute arbitrary Python code, which is called Server Side Template Injection (SSTI). There are a tonne of great articles out there about SSTI attacks, I will give a list of some of them below.
    </p>
    <ul>
     <li>
      <a href="https://medium.com/@nyomanpradipta120/ssti-in-flask-jinja2-20b068fdaeee">
       https://medium.com/@nyomanpradipta120/ssti-in-flask-jinja2-20b068fdaeee
      </a>
     </li>
     <li>
      <a href="https://blog.nvisium.com/p263">
       https://blog.nvisium.com/p263
      </a>
     </li>
    </ul>
    <p>
     My CMS is
     <em>
      'vulnerable'
     </em>
     to SSTI, but requires a hacker to have write access to the source code of this website to exploit. At which point I would already be screwed so it is not a security issue for this site.
    </p>
    <p>
     <strong>
      HOWEVER
     </strong>
    </p>
    <p>
     If you, the reader, create your own method of markdown parsing and do it for inputs that users submit then
     <strong>
      make sure you properly sanitise it!
     </strong>
     You can do a quick check by submitting
     <code>
      
  {{ 7*7 }}
 
     </code>
     and if it evaluates to 49, then you are vulnerable to SSTI. This is not a complete check for SSTI though, since there could exist a method to bypass your input sanitation.
    </p>
   </div>
  </div>
 </section>
 <section class="wrapper style5">
  <div class="inner">
   <div class="content">
    <h2 class="major">
     Chucking The Flask Application Onto The Internet Using Azure DevOps and Web App Service
    </h2>
    <p>
     One of my favourite units that I have completed in my Master degree was Cloud Computing, because it taught me a variety of methods that can make me lazier working on my software development projects. One of the Cloud Service Providers I wanted to have more experience with is Azure and using their DevOps and Web App Services. Yes there are so many different services out there for this sort of thing, I am just using Azure because I wanted to learn more about it.
    </p>
    <p>
     Azure App Service is application deployment minus all of the shenanigans when you try to deploy straight to infrastructure. It has got my thumbs up because I did not have to waste hours fiddling with configurations like I normally have to do. The concept of Continuous Integration and Deployment (CI/CD) using Azure Pipelines on DevOps just makes me moist thinking that I can just push commits to my repository and it will be automatically deployed.
    </p>
    <p>
     I will give a broad overview of how I configured Azure DevOps for CI/CD and App Service for hosting my website. However, if you are really interested you should go and read
     <a href="https://docs.microsoft.com/en-us/azure/app-service/quickstart-python?tabs=bash&amp;pivots=python-framework-flask">
      Azure's documentation
     </a>
     on how to do this.
    </p>
    <h4>
     Step 1: Get an Azure account.
    </h4>
    <p>
     <em>
      You might need this to do the other steps...
     </em>
    </p>
    <h4>
     Step 2: Create a Resource Group
    </h4>
    <p>
     You use the resource group for organising all of the resources that you use for the same project.
    </p>
    <ol>
     <li>
      On the Azure Portal search for 'resource groups'.
     </li>
     <li>
      Add a new resource group in the location you want.
     </li>
    </ol>
    <h4>
     Step 3: Create a Web App Service
    </h4>
    <p>
     App Service is Azure's PaaS solution that will host our web application. In this step we will only setup the App Service and use Azure DevOps for deployment of software.
    </p>
    <ol>
     <li>
      On the Azure Portal search for 'App Services' and add a new one.
     </li>
     <li>
      Select your subscription, resource group, name, runtime stack (this website uses Python 3.8) and the region.
     </li>
     <li>
      <strong>
       CHANGE YOUR APP SERVICE PLAN!
      </strong>
      Azure does this sneaky thing where it automatically sets the size to P1v2, which costs
      <strong>
       $0.169 per hour
      </strong>
      ! If you are just creating a personal site like me, this size is overkill and the B1 size should be more than sufficient.
     </li>
     <li>
      Review and Create your App Service.
     </li>
    </ol>
    <h4>
     Step 4: Creating a Repository and an Azure Pipeline on Azure for CI/CD on DevOps
    </h4>
    <p>
     Finally you will need to create a repository on DevOps and configure an Azure Pipeline to automatically deploy changes to your app service. The great thing about Azure Devops is that most of this process is fairly self-explanatory, but I will give the steps that I did
    </p>
    <ol>
     <li>
      Create an Azure DevOps organisation, project and repository for housing your software.
     </li>
     <li>
      Configure your local repository to push to Azure (there should be instructions on the repository page when you create it).
     </li>
     <li>
      Go to Pipelines tab and create a new Pipeline of deployment. Select that your code is on Azure Repos Git and choose the repository of your project.
     </li>
     <li>
      On Configure your pipeline, select 'Python to Linux Web App on Azure' (this might be different for you depending on your project). You will then need to select the App Service you created in the previous step.
     </li>
     <li>
      Review the generated pipeline YAML configuration to ensure you have all of the settings that you want. Check that everything is correct inside. Especially if the repository branch you want to deploy from is listed as a
      <code>
       
   trigger
  
      </code>
      or else automatic deployment will not work.
     </li>
     <li>
      Deploy and profit????
      <em>
       (I haven't thought about monetisation yet so that will be a problem for later on)
      </em>
     </li>
    </ol>
   </div>
  </div>
 </section>
 <section class="wrapper style3 alt">
  <div class="inner">
   <div class="content">
    <h2 class="major">
     Conclusion
    </h2>
    <p>
     So that was the extremely broad overview about how I made this website. For the sake of retaining what little sanity I have left, I omitted most of the finicky and frustrating details that comes packaged with web development.
    </p>
    <p>
     Despite my overt sarcasm, I did really enjoy creating this site and learnt a lot about Flask, web development and Azure in the process. I have been wanting to complete this project for sometime now, but I unfortunately have not had the time until now.
    </p>
    <p>
     If you somehow enjoyed reading this ramble, please stay tuned for more articles about my escapades in Cyber Security and Computer Science!
    </p>
   </div>
  </div>
 </section>
</section>

    	</div>

    <!-- Footer -->
      <!-- Footer -->
  <section id="footer">
    <div class="inner">
      <ul class="icons">
        <li><a href="https://twitter.com/GhostCcamm" class="icon brands fa-twitter"><span class="label"></span></a></li>
        <li><a href="https://github.com/Ccamm" class="icon brands fa-github"><span class="label"></span></a></li>
      </ul>
    </div>
  </section>

		<!-- Particles -->
			<div id="particles-js"></div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/particles.min.js"></script>
			<script src="/assets/js/main.js"></script>
      
	</body>
</html>